:root {
  --Green900: hsl(183, 100%, 15%);
  --Grey500: hsl(186, 14%, 43%);
  --Grey400: hsl(184, 14%, 56%);
  --background: hsl(185, 41%, 84%);
  --Grey50: hsl(189, 47%, 97%);
  --White: hsl(0, 100%, 100%);
  --Green400: hsl(172, 67%, 45%);
}

body {
  background-color: var(--background);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  padding: 0 auto;
  letter-spacing: 6px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  opacity: 0.8;
  color: var(--Green900);
}

.top {
  margin-top: 10%;
}

.container {
  width: 375px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--White);
  padding-bottom: 15px;
  border-radius: 25px;
}

.content {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 325px;
  background-color: var(--Grey50);
}

.input-container img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  padding: 5px 15px 5px 15px;
}

.input-container input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  font-size: 28px;
  text-align: right;
  color: var(--Green900);
  font-weight: 700;
  font-family: "Space Mono", monospace;
  padding: 5px 15px 5px 15px;
}

.tip {
  margin-top: 25px;
}

.tip-grid ul {
  display: grid;
  grid-template-columns: 2;
  grid-row: 3;
  list-style: none;
  padding: 0;
  gap: 10px;
  text-align: center;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

.tip-5 {
  grid-column: 1;
  grid-row: 1;
}
.tip-10 {
  grid-column: 2;
  grid-row: 1;
}
li {
  width: 147.5px;
  background-color: var(--Green900);
  color: var(--White);
  font-size: 22px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

.tip-custom {
  background-color: var(--Grey50);
  font-size: 12px;
  padding: 0;
  color: black;
}
.tip-custom-input {
  font-family: "Space Mono", monospace;
  text-align: center;
  font-weight: 700;
  background-color: var(--Grey50);
  font-size: 12px;
  color: black;
}
.tip-grid input {
  text-align: center;
  width: 147.5px;
  border: none;
  background-color: var(--Grey50);
  color: var(--Green900);
  font-family: "Space Mono", monospace;
  font-size: 28px;
}

.numberOfPeople h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--Grey400);
  font-size: 16px;
}

.bill h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--Grey400);
  font-size: 16px;
}

.results {
  background-color: var(--Green900);
  margin: 25px 25px 25px 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount h1 {
  color: var(--Green400);
  font-size: 28px;
}

.tipamount-person {
  display: flex;
  flex-direction: column;
}
.tipamount-person h1,
h2 {
  padding: 0;
  margin: 0;
}

.tipamount-person h1 {
  font-size: 18px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--White);
}
.tipamount-person h2 {
  font-size: 14px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--Grey400);
}

.button-reset {
  background-color: var(--Green400);
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--Green900);
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

@media (min-width: 90rem) {
  .container {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .results {
    width: 45%;
  }
  .content {
    width: 45%;
  }
  .tip-grid ul {
    grid-template-columns: 3;
    grid-template-rows: 2;
  }
  .tip-5 {
    grid-column: 1;
    grid-row: 1;
  }
  .tip-10 {
    grid-column: 2;
    grid-row: 1;
  }
  .tip-15 {
    grid-column: 3;
    grid-row: 1;
  }

  li {
    width: 110px;
    padding: 10px 5px 10px 5px;
  }
  li:nth-child(6) {
    height: 20px;
    position: relative;
    left: -10px;
    top: 7px;
  }
  .input-container {
    width: 100%;
  }

  .button-reset {
    width: 90%;
    align-self: center;
    margin-top: 60px;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
  }
  .tip-amount .total-output {
    font-size: 40px;
  }
  .tip-amount .tip-output {
    font-size: 40px;
  }
}
